@use "../drush_site_install_variables.scss" as *;

.page-footer {
  background-color: $wbu-color-primary;
  color: color-yiq($wbu-color-primary);
  .end-footer {
    background-color: $wbu-color-thirdly;
    color: color-yiq($wbu-color-thirdly);
  }
  .main-footer {
    .main-footer-left {
      .menu-item,
      .menu-element {
        margin-bottom: 5px;
        line-height: 2rem;
      }
    }

    .main-footer-right {
      .footer-site-logo {
        img {
          max-width: 100%;
          max-height: 60px;
        }
      }
    }
  }

  a {
    color: inherit;
  }

  .end-footer {
    .region--footer_end {
      .hbk-mega-menu.style-merseille {
        margin: 0 !important;
        padding: 0 !important;
        .block-logo {
          display: none;
        }
        .hbk-mega-menu--items__sub {
          display: none;
        }
        .hbk-mega-menu--items {
          position: relative !important;
          padding: $wbu-margin 0 !important;
          @include media-min(MD) {
            padding: 0 !important;
          }
          background-color: transparent;
          width: auto;
          max-width: 100%;
          min-height: 15px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          overflow: visible;
          margin: 0 !important;
          height: auto;
          max-height: 100%;
          svg {
            display: none;
          }
          > .item {
            min-width: 0;
            padding: 0 1.5rem;
            &::before {
              display: none;
            }
            &::after {
              content: "";
              position: absolute;
              top: 2px;
              bottom: 2px;
              right: auto;
              left: 0;
              width: 2px;
              transform: translateX(50%);
              background-color: color-yiq($wbu-color-primary);
              opacity: 0.4;
            }
            .item-link {
              font-size: 14px;
              display: inline-block;
              padding: 0;
              position: relative;
              text-decoration: none;
              &::after {
                display: none;
              }
            }
          }
          > li.item:first-child::after {
            display: none;
          }
        }
        .hbk-mega-menu--burgers {
          display: none;
        }
      }
    }
  }
}
